body
{
margin:0px;
background-color: #e0e0d1;
}
h1
{
font-family:Cambria;
text-decoration:underline;
font-size:40px;
margin-top: 5px;
}
.page_heading
{
	text-transform:uppercase;
}


.menu
{
    text-decoration:none;
    padding:7px;
    background-color:#ffffff;
    color:#404040;
    background:transperent;
    border-radius: 10px;
    font-weight:bold;

}
.menu:hover
{
    text-decoration:underline;
    background-color: #d6d6c2;
    color:#99004d;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";

}

.form_container
{
	border:1px solid #CCCCCC;
	width:400px;
	margin:auto;
	background-color:#f5f5f0;
	border-radius:25px;
	padding:15px;
	box-shadow:0px 0px 10px 4px #DFDFDF;
	margin-top:50px;
}
.input_box
{
	width:100%;
	padding:8px;
	font-family:Cambria;
	font-size:20px;
	border:2px solid #DFDFDF;
	margin-bottom:20px;
	margin-top:2px;
	border-radius:10px;
}
.btn1
{
	background-color: black;
	color: white;
	width:100%;
	padding:8px;
	font-family:Cambria;
	font-size:20px;
	border:2px solid #DFDFDF;
	margin-bottom:20px;
	margin-top:2px;
	border-radius:10px;
}
.thead
{
	background-color:#333333;
	color:white;
	font-family:Cambria;
}
.table
{
	text-align:center;
}
.body
{
	background-image:url('../images/back.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-align:center;
}
label
{
	font-size:18px;
}